use CuevonesCSQL_Isael_bd001
go

select * 
from reclutas20122015
where consecutivo = 682
--where diametro is null and altura is not null and Grupo is null
--where altura = 9999 and cuadro = 12
--order by consecutivo