/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [EspID]
		,[EspGruID]
      ,[EspEspecies]
      ,[EspAbreviatura]
      ,[EspObservaciones]
      
      ,[EspUltimaActualización]
      ,[EspFechaEntrada]
  FROM [CuevonesCSQL_Isael_bd001].[dbo].[tbl_Especies]